.backdrop {
    background-color: var(--backdrop-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    transition: opacity 500ms ease, visibility 500ms ease, scale 300ms ease;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 3;



}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    padding: 40px;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);



}

.modal-close-button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    transition: fill var(--transition-dur-and-func);



    &:hover,
    &:focus {
        cursor: pointer;
        fill: var(--accent-color);
    }
}

.icon-close {}

/* Форма модального окна */

.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.modal-title {


    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    margin-bottom: 12px;

    color: var(--primary-txt-color);
}

.modal-field {
    margin-bottom: 10px;



}

.form-input-wrapper {
    position: relative;
    display: block;
}

.input-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    fill: currentColor;

    transition: fill var(--transition-dur-and-func);

    .modal-input:focus+& {
        fill: var(--accent-color);
    }

}

.modal-input-name {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: var(--secondary-txt-color);

    margin-bottom: 4px;

    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: border var(--transition-dur-and-func);

}



.modal-input:focus,
.modal-comment-area:focus {
    border: 1px solid var(--accent-color);
    outline-style: none;


}

.modal-input:focus .input-fill-icon {}

.modal-comment {
    margin-bottom: 20px;

}

.modal-comment-area {
    display: block;

    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);

    resize: none;
}

.terms-wrapper {

    margin-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

}

.modal-checkbox {
    display: flex;
    align-items: center;

}



.terms-checkbox {
    appearance: none;

}

.custom-checkbox {
    width: 16px;
    height: 15px;

    margin-right: 8px;

    transition: fill var(--transition-dur-and-func);

    .terms-checkbox:focus~& {
        fill: var(--accent-color);
    }


}

.custom-checkbox-icon {}

.custom-checkbox-checked {
    width: 16px;
    height: 15px;



    margin-right: 8px;


    background-color: var(--accent-color);

    display: none;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;



}

.custom-checkbox-icon-checked {
    fill: var(--white-color);

}

.terms-checkbox:checked~.custom-checkbox-checked {
    display: block;
}

.terms-checkbox:checked~.custom-checkbox {
    display: none;
}

.terms-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-txt-color);
}

.terms-link {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    display: inline-block;
    line-height: 85%;
}

.submit-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;


    color: var(--white-color);
    background-color: var(--accent-color);

    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: block;

    margin-left: auto;
    margin-right: auto;

    padding: 10px 52px;

    border: 0px;

    transition: background-color var(--transition-dur-and-func);



    &:hover,
    &:focus {
        background-color: var(--mbutton-hover);

        cursor: pointer;
    }
}


@media screen and (min-width: 480px) {
.backdrop {
        background-color: var(--backdrop-color);

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;

        transition: opacity 500ms ease, visibility 500ms ease, scale 300ms ease;
    }

    .backdrop.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        scale: 3;



    }

    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;

        padding: 40px;


        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: var(--white-color);



    }

    .modal-close-button {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        padding: 0;

        width: 30px;
        height: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 8px;
        right: 8px;

        transition: fill var(--transition-dur-and-func);



        &:hover,
        &:focus {
            cursor: pointer;
            fill: var(--accent-color);
        }
    }

    .icon-close {}

    /* Форма модального окна */

    .modal-form {
        display: flex;
        flex-direction: column;
        width: 370px;

    }

    .modal-title {


        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;

        margin-bottom: 12px;

        color: var(--primary-txt-color);
    }

    .modal-field {
        margin-bottom: 10px;



    }

    .form-input-wrapper {
        position: relative;
        display: block;
    }

    .input-field-icon {
        position: absolute;
        top: 50%;
        left: 12px;

        transform: translateY(-50%);

        fill: currentColor;

        transition: fill var(--transition-dur-and-func);

        .modal-input:focus+& {
            fill: var(--accent-color);
        }

    }

    .modal-input-name {

        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;

        letter-spacing: 0.01em;

        color: var(--secondary-txt-color);

        margin-bottom: 4px;

        display: block;
    }

    .modal-input {
        width: 100%;
        height: 40px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        padding-left: 42px;

        transition: border var(--transition-dur-and-func);

    }



    .modal-input:focus,
    .modal-comment-area:focus {
        border: 1px solid var(--accent-color);
        outline-style: none;


    }

    .modal-input:focus .input-fill-icon {}

    .modal-comment {
        margin-bottom: 20px;

    }

    .modal-comment-area {
        display: block;

        width: 100%;
        height: 120px;

        padding: 12px 16px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border var(--transition-dur-and-func);

        resize: none;
    }

    .terms-wrapper {

        margin-bottom: 30px;

        margin-left: auto;
        margin-right: auto;

    }

    .modal-checkbox {
        display: flex;
        align-items: center;

    }



    .terms-checkbox {
        appearance: none;

    }

    .custom-checkbox {
        width: 16px;
        height: 15px;

        margin-right: 8px;

        transition: fill var(--transition-dur-and-func);

        .terms-checkbox:focus~& {
            fill: var(--accent-color);
        }


    }

    .custom-checkbox-icon {}

    .custom-checkbox-checked {
        width: 16px;
        height: 15px;



        margin-right: 8px;


        background-color: var(--accent-color);

        display: none;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;



    }

    .custom-checkbox-icon-checked {
        fill: var(--white-color);

    }

    .terms-checkbox:checked~.custom-checkbox-checked {
        display: block;
    }

    .terms-checkbox:checked~.custom-checkbox {
        display: none;
    }

    .terms-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        color: var(--secondary-txt-color);
    }

    .terms-link {
        color: var(--accent-color);
        border-bottom: 1px solid var(--accent-color);
        display: inline-block;
        line-height: 85%;
    }

    .submit-button {
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;


        color: var(--white-color);
        background-color: var(--accent-color);

        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        display: block;

        margin-left: auto;
        margin-right: auto;

        padding: 10px 52px;

        border: 0px;

        transition: background-color var(--transition-dur-and-func);



        &:hover,
        &:focus {
            background-color: var(--mbutton-hover);

            cursor: pointer;
        }
    }
}

@media screen and (min-width: 1200px) {
.backdrop {
    background-color: var(--backdrop-color);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    transition: opacity 500ms ease, visibility 500ms ease, scale 300ms ease;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    scale: 3;



}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;

    padding: 40px;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-color);



}

.modal-close-button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    transition: fill var(--transition-dur-and-func);



    &:hover,
    &:focus {
    cursor: pointer;
    fill: var(--accent-color);
    }
}

.icon-close {}

/* Форма модального окна */

.modal-form {
    display: flex;
    flex-direction: column;
    width: 448px;

}

.modal-title {


    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    margin-bottom: 12px;

    color: var(--primary-txt-color);
}

.modal-field {
    margin-bottom: 10px;



}

.form-input-wrapper {
    position: relative;
    display: block;
}

.input-field-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    fill: currentColor;

    transition: fill var(--transition-dur-and-func);

        .modal-input:focus+ & {
            fill: var(--accent-color);
        }

}

.modal-input-name {

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;

    color: var(--secondary-txt-color);

    margin-bottom: 4px;

    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;

    transition: border var(--transition-dur-and-func);

}



.modal-input:focus,
.modal-comment-area:focus {
    border: 1px solid var(--accent-color);
    outline-style: none;


}

.modal-input:focus .input-fill-icon {}

.modal-comment {
    margin-bottom: 20px;

}

.modal-comment-area {
    display: block;

    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-dur-and-func);

    resize: none;
}

.terms-wrapper {

    margin-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

}

.modal-checkbox {
    display: flex;
    align-items: center;

}



.terms-checkbox {
    appearance: none;

}

.custom-checkbox {
    width: 16px;
    height: 15px;

    margin-right: 8px;

    transition: fill var(--transition-dur-and-func);

    .terms-checkbox:focus~ & {
            fill: var(--accent-color);
        }


}

.custom-checkbox-icon {}

.custom-checkbox-checked {
    width: 16px;
    height: 15px;



    margin-right: 8px;


    background-color: var(--accent-color);

    display: none;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;



}

.custom-checkbox-icon-checked {
    fill: var(--white-color);

}

.terms-checkbox:checked~.custom-checkbox-checked {
    display: block;
}

.terms-checkbox:checked~.custom-checkbox {
    display: none;
}

.terms-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-txt-color);
}

.terms-link {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    display: inline-block;
    line-height: 85%;
}

.submit-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;


    color: var(--white-color);
    background-color: var(--accent-color);

    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: block;

    margin-left: auto;
    margin-right: auto;

    padding: 10px 52px;

    border: 0px;

    transition: background-color var(--transition-dur-and-func);



    &:hover,
    &:focus {
    background-color: var(--mbutton-hover);

    cursor: pointer;
}
}
}