.pecularities__list {
    display: flex;
    flex-direction: column;
    column-gap: 30px;

    margin-top: 0;

}

.pecularities__item {
    flex-basis: calc((100% - 90px) / 4);

}

.pecularities__item:not(:last-child) {
    margin-bottom: 30px;
}


.pecularities__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5F4FA;

    height: 120px;
    border-radius: 4px;

    margin-bottom: 30px;
}




.peculiarities__title {

    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-txt-color);

    margin-bottom: 10px;

    text-align: center;
}




.peculiarities__text {
    line-height: 1.7;

    color: var(--secondary-txt-color);
}


@media screen and (min-width: 480px) {
    .pecularities__list {
            display: flex;
            flex-direction: column;
            column-gap: 30px;
    
            margin-top: 0;
    
        }
    
        .pecularities__item {
            flex-basis: calc((100% - 90px) / 4);
    
        }

        .pecularities__item:not(:last-child)  {
            margin-bottom: 30px;
        }
    
    
        .pecularities__icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
    
            background-color: #F5F4FA;
    
            height: 120px;
            border-radius: 4px;
    
            margin-bottom: 30px;
        }
    
    
    
    
        .peculiarities__title {
    
            font-size: inherit;
            line-height: 1.14;
            text-transform: uppercase;
    
            color: var(--primary-txt-color);
    
            margin-bottom: 10px;

            text-align: center;
        }
    
    
    
    
        .peculiarities__text {
            line-height: 1.7;
    
            color: var(--secondary-txt-color);
        }
}



@media screen and (min-width: 768px) {
// .pecularities {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     column-count: 2;
//     width: 100%;
    
// }

    .pecularities__list {
            height: 540px;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px;
            

    }

    .pecularities__item {
        flex-basis: calc((100% - 90px) / 4);
        width: 354px;
        
        


    }


    .pecularities__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #F5F4FA;

        height: 120px;
        border-radius: 4px;

        margin-bottom: 30px;
    }




    .peculiarities__title {

        font-size: inherit;
        line-height: 1.14;
        text-transform: uppercase;

        color: var(--primary-txt-color);

        margin-bottom: 10px;
    }




    .peculiarities__text {
        line-height: 1.7;

        color: var(--secondary-txt-color);
    }
}


@media screen and (min-width: 1200px) {
.pecularities__list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    margin-top: 0;

    height: auto;

}

.pecularities__item {
    flex-basis: calc((100% - 90px) / 4);


}


.pecularities__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F5F4FA;

    height: 120px;
    border-radius: 4px;

    margin-bottom: 30px;
}




.peculiarities__title {

    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-txt-color);

    margin-bottom: 10px;
}




.peculiarities__text {
    line-height: 1.7;

    color: var(--secondary-txt-color);
}
}