.team {
    background-color: var(--grey-bg-color);

}

.team li {
    background-color: var(--white-color);

}

.team__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;


}

.team__card {
    flex-basis: calc((100% - 90px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    padding-bottom: 30px;

    margin-left: auto;
    margin-right: auto;



}

.team__img {
    width: 100%;
    height: 460px;
    object-fit: cover;
}

.team-card__member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    padding-top: 10px;

}

.team-card__job-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: var(--secondary-txt-color);

    padding-top: 10px;
    padding-bottom: 16px;
}

.team-card__social-networks {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    color: var(--default-icons-color);


}


@media screen and (min-width: 480px){
    .team {
            background-color: var(--grey-bg-color);
            
        }
    
        .team li {
            background-color: var(--white-color);

        }
    
        .team__list {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
    
    
        }
    
        .team__card {
            flex-basis: calc((100% - 90px) / 4);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
            padding-bottom: 30px;

            margin-left: auto;
            margin-right: auto;
            
    
    
        }

        .team__img {
            width: 450px;
            height: 460px;
            object-fit: cover;
        }
    
        .team-card__member-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
    
            padding-top: 10px;
    
        }
    
        .team-card__job-title {
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
    
            color: var(--secondary-txt-color);
    
            padding-top: 10px;
            padding-bottom: 16px;
        }
    
        .team-card__social-networks {
            display: flex;
            justify-content: center;
            align-items: center;
            
            gap: 10px;
    
            color: var(--default-icons-color);
    
    
        }
}



@media screen and (min-width: 768px) {
    .team {
        background-color: var(--grey-bg-color);

    }

    .team li {
        background-color: var(--white-color);

    }

    .team__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 1108px;
        gap: 30px;


    }

    .team__card {
        flex-basis: calc((100% - 90px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        padding-bottom: 30px;

        width: 354px;




    }

    .team__img {
        width: 354px;
        height: 374px;
        
    }

    .team-card__member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;

        padding-top: 10px;

    }

    .team-card__job-title {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;

        color: var(--secondary-txt-color);

        padding-top: 10px;
        padding-bottom: 16px;
    }

    .team-card__social-networks {
        display: flex;
        justify-content: center;
        align-items: center;

        gap: 10px;

        color: var(--default-icons-color);


    }
}




@media screen and (min-width: 1200px) {
.team {
        background-color: var(--grey-bg-color);
    }

    .team li {
        background-color: var(--white-color);
    }

    .team__list {
        display: flex;
        flex-direction: row;
        column-gap: 30px;

        height: auto;
    }

    .team__card {
        flex-basis: calc((100% - 90px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-bottom: 30px;

        height: auto;
    }
    

    .team__img {
        width: 270px;
        height: 260px;
        
    }

    .team-card__member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        padding-top: 10px;
    }

    .team-card__job-title {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        color: var(--secondary-txt-color);
        padding-top: 10px;
        padding-bottom: 16px;
    }

    .team-card__social-networks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--default-icons-color);
    }
}